In [1]:
import pandas as pd
import os

In [4]:
df1 = pd.read_csv("../data/nat_2020_june_special.csv")

In [8]:
df2 = pd.read_csv("../data/nat_2020_aug_june_mar.csv")

In [10]:
df2.columns

      vote_choice_recoded  age_recoded  education_recoded  race_recoded   male
0                       1            1                  3             1   True
1                       1            3                  3             1   True
2                       0            3                  3             1  False
3                       1            2                  3             9  False
4                       1            3                  3             1   True
...                   ...          ...                ...           ...    ...
2129                    1            2                  3             1   True
2130                    0            2                  3             1  False
2131                    0            2                  3             1  False
2132                    1            2                  3             1   True
2133                    0            2                  3             4  False

[2134 rows x 5 columns]